body {
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 1px #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: translateZ(0);
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 2px #000000;
    
  }
  
  button, input[type="submit"] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #000000;
    transform: translateZ(0);
    transition: all 0.2s ease-in-out;
  }
  
  button:hover, input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 2px 2px 2px #000000;
    transform: translateZ(0) scale(1.1);
  }

  a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: #20c902;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  a:hover::after {
    transform: scaleX(1);
  }

